.tekstilomake p input {
    float: right;
}

form {
    padding-right: 80%;
}

#laheta {
    float: right;
}

#valitsin {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    column-gap: 0px;
    row-gap: 8px;
    padding: 1rem;
    max-height: 300px; 
    overflow-y: auto; 
    border: 1px solid black;    
    border-radius: 6px;
}

#valitsin p {
    margin: 0;
}

#valitsin label {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

#toinen {
    margin-right: 15%;
    display: block;
}


#muokkaa {
    display: none;
    float: left;
}

#lat, #lon {
    width: 20%;
}

td p{
    margin: 0;
}

.lisaaSarja {
    width: 60%;
    float: right;
}

.lisaaJasenet, .muokkaaJasenet {
    clear: both;
}

.jasenLisaus input, .jasenMuokkaus input {
    margin-right: 10px;
    margin-left: 2px;
}

.jasenLisaus, .rastileimaus {
    display: flex;
    flex-direction: row;
    
}

.rastileimaus {
    gap: 5px;
}

.poistaJasen, .poistaLeimaus {
    color: red;
    cursor: pointer;
}



.uudenRastintiedot {
    display: none;
}
